.skills_container {
    margin-top: 1rem;
    margin: 0 auto;
    padding: 0 20px;
  }
  .skill_table-heading {
    padding: 0 20px;
    gap: 10px;
    display: grid;
    grid-template-columns: 250px 1fr 200px 100px;
    color: #808891;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5rem;
    margin-top: 15px;
  }
  
  .skill_table-items {
    padding: 5px 20px !important;
    gap: 10px;
    display: grid;
    grid-template-columns: 250px 1fr 200px 100px;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.6rem 0;
  }
  
  .table_skills-bar { 
    background-color: #6E57E0;
  }
  
  .table_skills-bar, .table_skills-percentage {
    height: 5px;
    border-radius: 0.25rem;
  }
  
  .table_skills-percentage {
    display: block;
    background-color: #ff00d4!important;
    padding: 0!important;
  }