//BUTTONS 
.button{
    display: inline-block;
    background-color: $first-color;
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: $font-medium;
    cursor: pointer;
  }
  
  .button:hover{
    background-color: $first-color-alt;
  }
  
  .button_icon{
    font-style: 1.25rem;
    margin-left: $mb-0-5;
    transition: .3s;
  }
  
  .button--white{
    background-color: #FFF;
    color: $first-color;
  }
  
  .button--white:hover{
    background-color: #FFF;
  }
  
  .button--flex{
    display: inline-flex;
    align-items: center;
  }
  
  .button--small{
    padding: .75rem 1rem;
  }
  
  .button--link{
    padding: 0;
    background-color: transparent;
    color: $first-color;
  }
  
  .button--link:hover{
    background-color: transparent;
    color: $first-color-alt;
  }