.footer{
    padding-top: 2rem;
  }
  
  .footer_container{
    row-gap: 3rem;
   

      ol, ul {
        padding-left: 0; 
      }
  }
  
  .footer_bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
  }
  
  .footer_title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
  }
  
  .footer_subtitle{
    font-size: var(--small-font-size);
  }
  
  .footer_links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  
  .footer_link a:hover{
    color: --first-color-lighter
  }
  
  .footer_social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
  }
  
  .footer_social:hover{
    color: var(--first-color-lighter);
  }
  
  .footer_copy{
    font-size: var(--small-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
  }
  
  .footer_title,
  .footer_subtitle,
  .footer_link a,
  .footer_social{
    color: #FFF;
  }
//SCROLL UP
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: 20px;
    background-color: $first-color;
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
  }
  
  .scrollup:hover{
    background-color: var(--first-color-alt);
  }
  
  .scrollup_icon{
    font-size: 1.5rem;
    color: #FFF;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  
  // Show scroll
  .show_scroll{
    bottom: 5rem;
  }
  // SCROLL BAR
  ::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
  }