.project{
    text-align: center;
  }
  
  .project_bg{
    background-color: var(--first-color-second);
    padding-top: 3rem;
  }
  
  .project_title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
  }
  
  .project_description{
    margin-bottom: var(--mb-1-5);
  }
  
  .project_title,
  .project_description{
    color: #FFF;
  }
  
  .project_img{
    width: 232px;
    justify-self: center;
    padding-bottom: 50px;
  }