
  .qualification_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }
  
  .qualification_subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
  }
  .timeline {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 5% auto;
  
    &__event {
      background: #fff;
      margin-bottom: 20px;
      position: relative;
      display: flex;
      margin: 20px 0;
      border-radius: 8px;
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  
      &__title {
        font-size: 1.2rem;
        line-height: 1.4;
        text-transform: uppercase;
  
        font-weight: 600;
        color: var(--first-color);
        letter-spacing: 1.5px;
      }
      &__content {
        padding: 10px;
        width: 90%;
      }
      &__date {
        color: #fff;
        font-size: 1.1rem;
        font-weight: 600;
        white-space: nowrap;
      }
      &__icon {
        border-radius: 8px 0 0 8px;
        background: var(--first-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 40%;
        font-size: 2rem;
        color: var(--first-color);
        padding: 20px;
  
        i {
          position: absolute;
          top: 50%;
          left:-65px;
          font-size: 2.5rem;
        transform: translateY(-50%);
          
        }
      }
      &__description {
        flex-basis: 20%;
      }
  
      &:after {
        content: "";
        width: 2px;
        height: 135%;
        background: var(--first-color);
        position: absolute;
        top: 52%;
        // transform: translateY(-50%);
        left: -5.55rem;
        z-index: 1;
        
      
      }
  
      &:before {
        content: "";
        width: 1rem;
        height: 1rem;
        position: absolute;
        background: #ffff;
        border-radius: 100%;
        left: -6rem;
        // right: 90%;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid var(--first-color);
        z-index: 2;
      }
      &--type3 {
        &:before {
          background: #aff1b6;
          border-color: #24b47e;
        }
        &:after{
          background: #24b47e;
    
        }
        .timeline__event__date {
          color: #aff1b6;
        }
  
        .timeline__event__icon {
          background: #24b47e;
          color: #24b47e;
        }
        .timeline__event__title {
          color: #24b47e;
        }
        
      }
      
        &:last-child{
  
          &:after{
            content: none;
          }
      }
      
    }
  }
  
  